@{
    ViewData["Title"] = "Hall_Index";
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Hall_Index.css" rel="stylesheet" />
</head>
<body>
    <div id="main_content">
        <div id="layout_div">
            <div id="func_options">
                <div id="joinroom" class="div_line">
                    <button type="button" class="btn btn-secondary" id="joinroom">加入会议</button>
                </div>
                <div id="bookroom" class="div_line">
                    <button class="btn btn-secondary" id="bookroom">预定会议</button>
                </div>
            </div>
            <div id="detail_show">
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="~/lib/clipboard/clipboard.js"></script>
    <script src="~/js/Hall_Index.js" type="text/javascript"></script>
</body>
</html>

